@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import "css/reset.css";
@import "css/variables.css";

/* components */
@import "/css/components/status-bar.css";
@import "/css/components/nav-bar.css";
@import "/css/components/header-icon.css";
@import "/css/components/user-component.css";
@import "/css/components/badge.css";
@import "/css/components/more.css";
@import "/css/components/icon-row.css";
@import "/css/components/alt-screen-header.css";


/* screens */
@import "css/screens/login.css";
@import "css/screens/gohst.css";
@import "css/screens/chat.css";
@import "/css/screens/find.css";
@import "/css/screens/settings.css";
@import "/css/screens/message.css";

body {
    background-color: #1c2135;
    color: white;
    height: 500vh;
}