.settings_list {
    margin-top: 15px;
}

.settings__setting {
    padding: 30px 0;
    margin: 0 15px;
    border-bottom: 1px solid rgba(252, 252, 252, 0.1);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__setting i {
    opacity: 0.8;
    margin-right: 20px;
    font-size: 22px;
}

.settings_setting-column:last-child {
    opacity: 0.5;
}

.settings__list2 {
    margin-top: 26px;
}